fastapi>=0.111.0
uvicorn[standard]>=0.29.0

twilio

SQLAlchemy>=2.0.0
aiosqlite>=0.19.0

python-dotenv>=1.0.0

PyJWT>=2.8.0

httpx>=0.24.1
PyPDF2>=3.0.1
pydantic>=2.5.0
python-multipart
python-jose==3.3.0
passlib>=1.7.4
python-multipart
bcrypt==4.3.0
pydantic[email]
apscheduler
fastapi-mail
Pillow
pytesseract
